{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-runtime",
        [
            "import",
            {
                "libraryName": "ivue-material",
                "libraryDirectory": "src/components"
            }
        ]
    ]
}
